.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-left {
  /* background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
  width: 400px;
  min-height: 100vh;
  border-right: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
}
.dp-left-item{
  box-sizing: border-box;
  width: 130px;
  height: 80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.App-center {
  position: relative;
  width: 800px;
  min-height: 100vh;
  border-right: 1px solid #ccc;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input{
  border: 1px solid #ccc;
  margin: 20px;
}